<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= client.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= client.address2 %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= client.town %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= client.postcode %>
  </p>

</div>
